/*importando fontes*/@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
/*importando fontes*/@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: #061D1E;
    --cor-secundaria: darkgrey;
    --cor-terciaria: #71A2B7;
}
*{
    margin: o;/*ajudar a poder configurar a posição dos elementos*/
    padding: 0;/*ajudar a poder configurar a posição dos elementos*/
}

body {
    /*height: 100vh; faz com que a altura do body pegue toda a altura da tela*/
    box-sizing: border-box; /*não deixa elemento filho ultrapassar o pai */
    background-color: #061D1E;
    color: #71A2B7;
}

.tituloDestaque{ /*exemplo de classe*/
    color:darkgrey; 
}
.apresentacao{
    padding: 5%; /*afasrou do lado da tela*/
    display: flex;
    padding: 5% 10%;
    align-items: center;
    justify-content: space-between;/* espaça um elemento do outro*/
}
.apresentacao__conteudo{
    width: 615px;
}
.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: Krona One, sans-serif;
}
.apresentacao__conteudo__paragrafo{
    font-size: 24px;
    font-family: Montserrat, sans-serif;
}
.apresentacao__links_subtitulo{
    font-family:krona one, sans-serif;   
    font-weight: 400;
    font-size: 24px;

}
.links{
    display: flex;
    flex-direction: column;/*colocando em colunas*/
    justify-content: space-between ;
    align-items: center;
    gap: 32px;

}
.link{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #71A2B7  ; /*tamanho da linha , tipo , cor*/
    width: 378px;
    text-align: center;
    border-radius: 8px; /*borda arredondada*/
    font-size: 24px;
    padding: 21.5px 0px;
    text-decoration: none;
    color: darkgrey;
    font-family: Montserrat, sans-serif; 
}
.link:hover{ /*muda css ao passar o mouse*/
    background-color:rgb(186, 194, 191);
    color : black;
}
.rodape{
    padding: 12px; 
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 200px;
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
   display: flex;
   gap: 80px;
}
.cabecalho__menu__link{
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 24px ;
    text-decoration: none;
    color: darkgray;
}
